<div class="row">
    <div class="col-12">
        <h4 class="h4 bolded-blue text-center" data-i18n="study-values-vquest-title"></h4>
        <br>
    </div>
</div>
<form id="impressionsForm" style="text-align: left">
    <div class="mb-3" id="q1">
        <label class="form-label" data-i18n="study-values-impressions-q1"></label>
        <div id="q1_help" class="form-text" data-i18n="study-values-impressions-r_trust_scale"></div>
        <div class="">
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q1_radio" id="q1_r1" value="1" onclick="registerAnswer('q1')">
                <label class="btn btn-primary" for="q1_r1">1</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q1_radio" id="q1_r2" value="2" onclick="registerAnswer('q1')">
                <label class="btn btn-primary" for="q1_r2">2</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q1_radio" id="q1_r3"  value="3" onclick="registerAnswer('q1')">
                <label class="btn btn-primary" for="q1_r3">3</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q1_radio" id="q1_r4" value="4" onclick="registerAnswer('q1')">
                <label class="btn btn-primary" for="q1_r4">4</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q1_radio" id="q1_r5"  value="5" onclick="registerAnswer('q1')">
                <label class="btn btn-primary" for="q1_r5">5</label>
            </div>
        </div>
    </div>
    <div class="mb-3" id="q2">
        <label class="form-label" data-i18n="study-values-impressions-q2"></label>
        <div id="q2_help" class="form-text" data-i18n="study-values-impressions-r_will_scale"></div>
        <div class="">
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q2_radio" id="q2_r1" value="1"  onclick="registerAnswer('q2')">
                <label class="btn btn-primary" for="q2_r1">1</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q2_radio" id="q2_r2" value="2"  onclick="registerAnswer('q2')">
                <label class="btn btn-primary" for="q2_r2">2</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q2_radio" id="q2_r3"  value="3"  onclick="registerAnswer('q2')">
                <label class="btn btn-primary" for="q2_r3">3</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q2_radio" id="q2_r4" value="4"  onclick="registerAnswer('q2')">
                <label class="btn btn-primary" for="q2_r4">4</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q2_radio" id="q2_r5"  value="5"  onclick="registerAnswer('q2')">
                <label class="btn btn-primary" for="q2_r5">5</label>
            </div>
        </div>
    </div>
    <div class="mb-3" id="q3">
        <label class="form-label" data-i18n="study-values-impressions-q3"></label>
        <div id="q3_help" class="form-text" data-i18n="study-values-impressions-r_scale"></div>
        <div class="">
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q3_radio" id="q3_r1" value="1" onclick="registerAnswer('q3')">
                <label class="btn btn-primary" for="q3_r1">1</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q3_radio" id="q3_r2" value="2" onclick="registerAnswer('q3')">
                <label class="btn btn-primary" for="q3_r2">2</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q3_radio" id="q3_r3"  value="3" onclick="registerAnswer('q3')">
                <label class="btn btn-primary" for="q3_r3">3</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q3_radio" id="q3_r4" value="4" onclick="registerAnswer('q3')">
                <label class="btn btn-primary" for="q3_r4">4</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q3_radio" id="q3_r5"  value="5" onclick="registerAnswer('q3')">
                <label class="btn btn-primary" for="q3_r5">5</label>
            </div>
        </div>
    </div>
    <div class="mb-3" id="q4">
        <label class="form-label" data-i18n="study-values-impressions-q4"></label>
        <div id="q4_help" class="form-text" data-i18n="study-values-impressions-r_scale"></div>
        <div class="">
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q4_radio" id="q4_r1" value="1" onclick="registerAnswer('q4')">
                <label class="btn btn-primary" for="q4_r1">1</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q4_radio" id="q4_r2" value="2" onclick="registerAnswer('q4')">
                <label class="btn btn-primary" for="q4_r2">2</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q4_radio" id="q4_r3"  value="3" onclick="registerAnswer('q4')">
                <label class="btn btn-primary" for="q4_r3">3</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q4_radio" id="q4_r4" value="4" onclick="registerAnswer('q4')">
                <label class="btn btn-primary" for="q4_r4">4</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q4_radio" id="q4_r5"  value="5" onclick="registerAnswer('q4')">
                <label class="btn btn-primary" for="q4_r5">5</label>
            </div>
        </div>
    </div>
    <div class="mb-3" id="q5">
        <label class="form-label" data-i18n="study-values-impressions-q5"></label>
        <div id="q5_help" class="form-text" data-i18n="study-values-impressions-r_scale"></div>
        <div class="">
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q5_radio" id="q5_r1" value="1" onclick="registerAnswer('q5')">
                <label class="btn btn-primary" for="q5_r1">1</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q5_radio" id="q5_r2" value="2" onclick="registerAnswer('q5')">
                <label class="btn btn-primary" for="q5_r2">2</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q5_radio" id="q5_r3"  value="3" onclick="registerAnswer('q5')">
                <label class="btn btn-primary" for="q5_r3">3</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q5_radio" id="q5_r4" value="4" onclick="registerAnswer('q5')">
                <label class="btn btn-primary" for="q5_r4">4</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q5_radio" id="q5_r5"  value="5" onclick="registerAnswer('q5')">
                <label class="btn btn-primary" for="q5_r5">5</label>
            </div>
        </div>
    </div>
    <div class="mb-3" id="q6">
        <label class="form-label" data-i18n="study-values-impressions-q6"></label>
        <div id="q6_help" class="form-text" data-i18n="study-values-impressions-r_scale"></div>
        <div class="">
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q6_radio" id="q6_r1" value="1" onclick="registerAnswer('q6')">
                <label class="btn btn-primary" for="q6_r1">1</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q6_radio" id="q6_r2" value="2" onclick="registerAnswer('q6')">
                <label class="btn btn-primary" for="q6_r2">2</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q6_radio" id="q6_r3"  value="3" onclick="registerAnswer('q6')">
                <label class="btn btn-primary" for="q6_r3">3</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q6_radio" id="q6_r4" value="4" onclick="registerAnswer('q6')">
                <label class="btn btn-primary" for="q6_r4">4</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" class="btn-check" name="q6_radio" id="q6_r5"  value="5" onclick="registerAnswer('q6')">
                <label class="btn btn-primary" for="q6_r5">5</label>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
let form_answers = {};

let registerAnswer = function (qn) {
    let q_answer = getQuestionAnswered(`${qn}_radio`);
    if(q_answer) {
        form_answers[qn] = q_answer;
    }
    isFormComplete();
}

let isFormComplete = function() {
    if(Object.keys(form_answers).length == 6){
        $('#btn-next-page').attr('style', 'display:block;');
        $('#btn-next-page')[0].scrollIntoView();
        LITW.study.params.impressions_data = form_answers;
        return true;
    }
    return false;
}

let getQuestionAnswered = function(q_name) {
    let input_fields = $(`input[name="${q_name}"]`);
    if (input_fields.length>0) {
        switch (input_fields[0].type){
            case 'radio':
                return $(`input[name="${q_name}"]:checked`).val();
                break;
            default:
                throw TypeError('Field type not supported.');
        }
    } else {
        return null;
    }
}
</script>
