<div class="row">
    <div class="col-12">
        <h4 class="h4 bolded-blue text-center" data-i18n="study-values-vquest-title2"></h4>
        <br>
    </div>
</div>
<div id="valuesForm2" style="text-align: left"></div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#valuesForm2").alpaca({
            "data": false,
            "schema": {
                "description": "Human Values - Part 2",
                "type": "object",
                "properties": {
                    "q6": {
                        "enum": [1, 2],
                        "required": true
                    },
                    "q7": {
                        "title": $.i18n('study-values-vquest-q7'),
                        "enum": [1, 2, 3, 4],
                        "required": true
                    },
                    "q8": {
                        "type": "string",
                        "title": $.i18n('study-values-vquest-q8'),
                        "enum": ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'],
                        "required": false
                    },
                    "q9": {
                        "title": $.i18n('study-values-vquest-q9'),
                        "enum": [1, 2, 3],
                        "required": true
                    },
                    "q10": {
                        "title": $.i18n('study-values-vquest-q10'),
                        "enum": [1, 2, 3, 4],
                        "required": true
                    },
                    "q11": {
                        "title": $.i18n('study-values-vquest-q11'),
                        "enum": [1, 2, 3, 4],
                        "required": true
                    },
                }
            },
            "options": {
                "fields": {
                    "q6": {
                        "label": $.i18n('study-values-vquest-q6'),
                        "type": 'select',
                        "optionLabels": [$.i18n('study-values-vquest-r_tru_mpcbt'), $.i18n('study-values-vquest-r_tru_ntbvc')],
                        "sort": false,
                        "showMessages": false,
                        "noneLabel": "--",
                        "removeDefaultNone": false,
                        "showMessages": false,
                        "default": "--"
                    },
                    "q7": {
                        "type": 'select',
                        "optionLabels": [$.i18n('study-values-vquest-r_prd_vp'), $.i18n('study-values-vquest-r_prd_qp'),
                            $.i18n('study-values-vquest-r_prd_nvp'), $.i18n('study-values-vquest-r_prd_naap'), ],
                        "sort": false,
                        "showMessages": false,
                        "noneLabel": "--",
                        "removeDefaultNone": false,
                        "showMessages": false,
                        "default": "--"
                    },
                    "q8": {
                        "type": 'checkbox',
                        "optionLabels": [$.i18n('study-values-vquest-r_chi_gm'), $.i18n('study-values-vquest-r_chi_ind'),
                            $.i18n('study-values-vquest-r_chi_hw'), $.i18n('study-values-vquest-r_chi_for'),
                            $.i18n('study-values-vquest-r_chi_img'), $.i18n('study-values-vquest-r_chi_tnrfop'),
                            $.i18n('study-values-vquest-r_chi_tsmnt'), $.i18n('study-values-vquest-r_chi_dnp'),
                            $.i18n('study-values-vquest-r_chi_rf'), $.i18n('study-values-vquest-r_chi_uns'),
                            $.i18n('study-values-vquest-r_chi_obd')],
                        "sort": false,
                        "showMessages": false
                    },
                    "q9": {
                        "type": 'select',
                        "optionLabels": [$.i18n('study-values-vquest-r_good_gt'), $.i18n('study-values-vquest-r_good_dm'),
                            $.i18n('study-values-vquest-r_good_bt')],
                        "sort": false,
                        "showMessages": false,
                        "noneLabel": "--",
                        "removeDefaultNone": false,
                        "showMessages": false,
                        "default": "--"
                    },
                    "q10": {
                        "type": 'select',
                        "optionLabels": [$.i18n('study-values-vquest-r_aim_moitn'), $.i18n('study-values-vquest-r_aim_gpms'),
                            $.i18n('study-values-vquest-r_aim_frp'), $.i18n('study-values-vquest-r_aim_pfos')],
                        "sort": false,
                        "showMessages": false,
                        "noneLabel": "--",
                        "removeDefaultNone": false,
                        "showMessages": false,
                        "default": "--"
                    },
                    "q11": {
                        "type": 'select',
                        "optionLabels": [$.i18n('study-values-vquest-r_aim_moitn'), $.i18n('study-values-vquest-r_aim_gpms'),
                            $.i18n('study-values-vquest-r_aim_frp'), $.i18n('study-values-vquest-r_aim_pfos')],
                        "sort": false,
                        "showMessages": false,
                        "noneLabel": "--",
                        "removeDefaultNone": false,
                        "showMessages": false,
                        "default": "--"
                    },
                }
            },
            "postRender": function(control) {
                $('#btn-next-page').attr('style', 'display:none;');
                $(".alpaca-required-indicator").html(" *");
                $("input[type='text']").css('width', '200px');
            },
            "view": {
                "callbacks": {
                    "valid": function () {
                        //TODO: add validation to Q8 checklist number!
                        $('#btn-next-page').attr('style', 'display:block;');
                        $('#btn-next-page')[0].scrollIntoView();
                    },
                    "invalid": function () {
                        $('#btn-next-page').attr('style', 'display:none;');
                    }
                }
            },
        });
    });
</script>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>